.card {
    background-color: #c6e3cb;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    margin: 50px auto;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin: 10px 0;
}

.role {
    color: #434242;
}

.btn {
    padding: 8px 16px;
    background-color: #029783;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(37, 36, 36);
    color: white;
    transform: scale(1.1);
}